@font-face {
  font-family: 'Gotham';
  src: url('./fonts/GothamXNarrowBook.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSerif';
  src: url('./fonts/SourceSerifPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}